.Quote {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(3, 1, 135, 0.616);
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;

  img {
    width: 50%;
    max-height: 300px;
  }
}